/* coucou */
.zindex {
  z-index: -1;
}
.hidden {
  opacity: 0;
  transition: opacity 0.9s ease; /* Ajoute une transition pour une animation en douceur */
}

.visible {
  opacity: 1;
}
.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-content p,
.footer-content ul {
  margin: 0;
  padding: 0 10px;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  display: inline;
  margin-right: 20px;
}

.footer-content ul li:last-child {
  margin-right: 0;
}

.footer-content ul li a {
  color: white;
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

#travaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 100px;
  left: 0;
  width: 99vw;
  height: 81vh;
  background: radial-gradient(circle, green, black);
}
#travaux > h1 {
  position: relative;
  width: 70%;
  align-items: center;
  color: var(--textDark);
  text-wrap: stable;
}
#commingSoon {
  width: 50%;
  height: 70%;
}
:root {
  --GreenColor: rgb(77, 236, 45);
  --colorButtonDark: rgb(181, 97, 237);
  --backGroundDark: black;
  --textDark: white;
  --font: "Arial", sans-serif;
  --juliusFont: "Julius Sans One", sans-serif;
  --brigandaFont: "Brygada 1918", serif;
  --alluroFont: "Allura", cursive;
}
.border {
  border: 2px black solid;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--backGroundDark);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  .navi {
    left: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100vw;
    clip-path: polygon(
      0% 15%,
      0 0,
      15% 0%,
      85% 0%,
      100% 0,
      100% 15%,
      100% 74%,
      75% 74%,
      74% 100%,
      15% 100%,
      0 99%,
      0% 85%
    );
    background-color: var(--backGroundDark);
  }
  #borderBottom {
    z-index: 2;
    border: 2px solid var(--GreenColor);
    position: absolute;
    top: 93px;
    left: 0;
    width: 75%;
  }
  .loader {
    height: 3px;
    width: 86%;
    background: rgba(33, 140, 32, 0);
    position: relative;
    overflow: hidden;
  }
  .loader .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .loader .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(43, 255, 0) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: light 2s infinite ease-in-out;
  }

  @keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 90px;
  }
  .glowbutton {
    --glow-color: rgb(176, 255, 197);
    --glow-spread-color: rgb(77, 236, 45);
    --enhanced-glow-color: rgb(39, 62, 48);
    --btn-color: rgb(77, 236, 45);
    border: 0.25em solid rgb(64 204 102);
    color: rgb(192 246 207);
    font-weight: bold;
    background-color: var(--btn-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    outline: none;
    box-shadow: 0 0 1em -0.75em rgb(80 172 104),
      0 0 8em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em rgb(83 156 102);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 20%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  .glowbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

  .buttonCv {
    position: absolute !important;
    clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
    padding-top: 1px;
    top: 79px !important;
    left: 75% !important;
    padding-bottom: 1px;
    margin: 1px;
    height: 20px;
    width: 90px;
    max-width: 9px;
    min-width: 84px;
  }
  p#signature {
    z-index: 2;
    letter-spacing: 5px;
    position: fixed;
    left: 15px;
    top: 75px;
    font-family: var(--alluroFont);
    font-size: 1.5rem;
  }

  #containerNav {
    /* position: fixed; */
    left: 0;
    width: 99vh;
  }

  #container {
    position: absolute;
    left: 0;
    margin-top: 100px;
    height: 130vh;
    width: 99vw;
    background-color: black;
  }

  #divText {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  #divLogo {
    width: 99vw;
    /* z-index: 2; */
    background-color: black;
    margin: -2px;
  }
  #logo {
    width: 99vw;
  }

  h2 {
    text-decoration: underline;
    font-family: var(--julius);
    color: var(--textDark);
    font-size: 24px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--juliusFont);
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--textDark);
  }

  p {
    color: var(--textDark);
    font-size: 1.5rem;
    font-family: var(--brigandaFont);
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .flou {
    position: relative;
    left: 0;
    top: 10px;
    width: 99vw;
    height: 70px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 42%,
      rgba(175, 175, 175, 1) 100%
    );
  }

  .flouDeux {
    left: 0px;
    bottom: 20px;
    /* z-index: -1; */
    /* border: solid black 2px; */
    position: relative;
    width: 99vw;
    height: 100px;
    background: rgb(159, 159, 159);
    background: linear-gradient(
      180deg,
      rgba(159, 159, 159, 1) 42%,
      rgba(95, 74, 153, 1) 66%
    );
  }

  #divImgDeco {
    position: relative;
    bottom: 25px;
    width: 99vw;
    height: 50vh;
  }
  #download {
    position: relative;
    top: 0;
    z-index: 1;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    width: 100px;
    height: 100px;
    background-color: #bebfbf;
    position: absolute;
    left: 500px;
    transition: left 1s ease;
  }

  #content .article:first-of-type {
    margin: 150px 10px 20px 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .navi {
    left: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100vw;
    clip-path: polygon(
      0% 15%,
      0 0,
      15% 0%,
      85% 0%,
      100% 0,
      100% 15%,
      100% 74%,
      75% 74%,
      74% 100%,
      15% 100%,
      0 99%,
      0% 85%
    );
    /* background-color: var(--backGroundDark); */
  }
  #borderBottom {
    z-index: 2;
    border: 2px solid var(--GreenColor);
    position: absolute;
    top: 93px;
    left: 0;
    width: 75%;
  }
  .loader {
    height: 3px;
    width: 86%;
    background: rgba(33, 140, 32, 0);
    position: relative;
    overflow: hidden;
  }
  .loader .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .loader .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(43, 255, 0) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: light 2s infinite ease-in-out;
  }

  @keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 90px;
  }
  .glowbutton {
    --glow-color: rgb(176, 255, 197);
    --glow-spread-color: rgb(77, 236, 45);
    --enhanced-glow-color: rgb(39, 62, 48);
    --btn-color: rgb(77, 236, 45);
    border: 0.25em solid rgb(64 204 102);
    color: rgb(192 246 207);
    font-weight: bold;
    background-color: var(--btn-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em -0.75em rgb(80 172 104),
      0 0 8em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em rgb(83 156 102);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 20%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  .glowbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

  .buttonCv {
    position: absolute !important;
    clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
    padding-top: 1px;
    top: 85px !important;
    left: 75% !important;
    padding-bottom: 1px;
    margin: 1px;
    color: var(--textDark);
    height: 15px;
    width: 200px;
    max-width: 150px;
    min-width: 98px;
  }
  p#signature {
    z-index: 2;
    letter-spacing: 5px;
    position: fixed;
    left: 15px;
    top: 75px;
    font-family: var(--alluroFont);
    font-size: 1.5rem;
  }

  #containerNav {
    /* position: fixed; */
    left: 0;
    width: 99vh;
  }

  #container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-top: 100px;
    height: 130vh;
    width: 99vw;
    background-color: black;
  }

  #divText {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  #divLogo {
    /* z-index: 2; */
    background-color: black;
    margin: -2px;
  }
  #logo {
    image-rendering: optimizeQuality;
  }

  h2 {
    text-decoration: underline;

    font-family: var(--julius);
    color: var(--textDark);
    font-size: 24px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--juliusFont);
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--textDark);
  }

  p {
    color: var(--textDark);
    font-size: 1.5rem;
    font-family: var(--brigandaFont);
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .flou {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 42%,
      rgba(175, 175, 175, 1) 100%
    );
  }

  .flouDeux {
    left: -10px;
    bottom: 10px;
    /* z-index: -1; */
    border: solid black 2px;
    position: relative;
    width: 100vw;
    height: 100px;
    background: rgb(159, 159, 159);
    background: linear-gradient(
      180deg,
      rgba(159, 159, 159, 1) 42%,
      rgba(95, 74, 153, 1) 66%
    );
  }

  #divImgDeco {
    width: 100%;
    height: 100%;
  }
  #download {
    top: 0;
    z-index: 1;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    width: 400px;
    height: 100px;
    background-color: #bebfbf;
    position: absolute;
    /* left: -500px; */
    transition: left 1s ease;
  }
  #content .article:first-of-type {
    margin: 150px 10px 20px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .navi {
    left: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100vw;
    clip-path: polygon(
      0% 15%,
      0 0,
      15% 0%,
      85% 0%,
      100% 0,
      100% 15%,
      100% 74%,
      75% 74%,
      74% 100%,
      15% 100%,
      0 99%,
      0% 85%
    );
    background-color: var(--backGroundDark);
  }
  #borderBottom {
    z-index: 2;
    border: 2px solid var(--GreenColor);
    position: absolute;
    top: 93px;
    left: 0;
    width: 75%;
  }
  .loader {
    height: 3px;
    width: 86%;
    background: rgba(33, 140, 32, 0);
    position: relative;
    overflow: hidden;
  }
  .loader .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .loader .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(43, 255, 0) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: light 2s infinite ease-in-out;
  }

  @keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 90px;
  }
  .glowbutton {
    --glow-color: rgb(176, 255, 197);
    --glow-spread-color: rgb(77, 236, 45);
    --enhanced-glow-color: rgb(39, 62, 48);
    --btn-color: rgb(77, 236, 45);
    border: 0.25em solid rgb(64 204 102);
    color: rgb(192 246 207);
    font-weight: bold;
    background-color: var(--btn-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em -0.75em rgb(80 172 104),
      0 0 8em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em rgb(83 156 102);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 20%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  .glowbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

  .buttonCv {
    font-family: var(--julius);
    letter-spacing: 2px;
    font-size: 1rem;
    z-index: 1;
    position: absolute !important;
    clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
    padding: 5px;
    top: 82px !important;
    left: 75% !important;
    margin: 1px;
    /* background-color: var(--colorButtonDark); */
    /* color: var(--textDark); */
    height: 10px;
    width: 190px;
    max-width: 300px !important;
    min-width: 150px;
  }
  p#signature {
    z-index: 2;
    letter-spacing: 5px;
    position: fixed;
    left: 15px;
    top: 75px;
    font-family: var(--alluroFont);
    font-size: 1.5rem;
  }

  #containerNav {
    /* position: fixed; */
    left: 0;
    width: 99vh;
  }

  #container {
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    left: 0;
    padding-top: 100px;
    height: 130vh;
    width: 99vw;
    background-color: black;
  }

  #divText {
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  #divLogo {
    width: 99vw;
    /* z-index: 2; */
    background-color: black;
    margin: -2px;
  }
  #logo {
    width: 99vw;
    image-rendering: optimizeQuality;
  }

  h2 {
    text-decoration: underline;

    font-family: var(--julius);
    color: var(--textDark);
    font-size: 24px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--juliusFont);
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--textDark);
  }

  p {
    color: var(--textDark);
    font-size: 1.5rem;
    font-family: var(--brigandaFont);
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .flou {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 42%,
      rgba(175, 175, 175, 1) 100%
    );
  }

  .flouDeux {
    left: 0px;
    bottom: 7px;
    /* z-index: -1; */
    border: solid black 2px;
    position: relative;
    width: 99vw;
    height: 100px;
    background: rgb(159, 159, 159);
    background: linear-gradient(
      180deg,
      rgba(159, 159, 159, 1) 42%,
      rgba(95, 74, 153, 1) 66%
    );
  }

  #divImgDeco {
    position: relative;
    bottom: 17px;
    width: 100%;
    height: 100%;
  }
  #download {
    top: 50px;
    z-index: 1;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    width: 400px;
    height: 100px;
    background-color: #bebfbf;
    position: absolute;
    left: -500px;
    transition: left 1s ease;
  }
}

@media screen and (min-width: 900px) and (max-width: 1600px) {
  #containerNav {
    position: fixed;
    left: 0;
    top: 0;
  }
  .navi {
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 99vw;
    clip-path: polygon(
      0% 15%,
      0 0,
      15% 0%,
      85% 0%,
      100% 0,
      100% 15%,
      100% 74%,
      75% 74%,
      74% 100%,
      15% 100%,
      0 99%,
      0% 85%
    );
    background-color: var(--backGroundDark);
  }
  #borderBottom {
    height: 6px;
    z-index: 2;
    border: 0.5px solid rgb(77, 236, 45);
    position: absolute;
    top: 93px;
    left: 0;
    width: 100%;
  }
  .loader {
    height: 3px;
    width: 86%;
    background: rgba(33, 140, 32, 0);
    position: relative;
    overflow: hidden;
  }
  .loader .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .loader .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(43, 255, 0) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    animation: light 2s infinite ease-in-out;
  }

  @keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 90px;
  }
  .glowbutton {
    --glow-color: rgb(176, 255, 197);
    --glow-spread-color: rgb(77, 236, 45);
    --enhanced-glow-color: rgb(39, 62, 48);
    --btn-color: rgb(77, 236, 45);
    border: 0.25em solid rgb(64 204 102);

    color: var(--textDark);
    font-weight: bold;
    background-color: var(--btn-color);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em -0.75em rgb(80 172 104),
      0 0 8em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em rgb(83 156 102);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .glowbutton::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 20%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  .glowbutton:hover {
    padding: 5px;
    color: var(--backGroundDark);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .glowbutton:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

  .buttonCv {
    font-family: var(--julius);
    letter-spacing: 2px;
    font-size: 1rem;
    z-index: 1;
    position: absolute !important;
    clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
    padding: 5px;
    top: 80px !important;
    left: 75% !important;
    margin: 1px;
    /* background-color: var(--colorButtonDark); */
    /* color: var(--textDark); */
    height: 20px;
    width: 200px;
    min-width: 215px;
    max-width: 240px;
  }
  p#signature {
    z-index: 2;
    letter-spacing: 5px;
    position: fixed;
    left: 34px;
    top: 75px;
    font-family: var(--alluroFont);
    font-size: 1.5rem;
  }

  #containerNav {
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    width: 99vw;
  }

  #container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: absolute;
    left: 0;
    padding-top: 85px;
    height: auto;
    width: 99vw;
  }

  #divText {
    height: 120vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  #divLogo {
    width: 99vw;
    position: relative;
    left: 0px;
    top: 3px;
    /* z-index: 2; */
    background-color: white;
    /* margin: -2px; */
  }
  #logo {
    left: 0px;
    top: 0;
    position: relative;
    filter: invert(100%); /* Inverse toutes les couleurs */
    filter: blur(1);
  }

  h2 {
    text-decoration: underline;
    font-family: var(--julius);
    color: var(--textDark);
    font-size: 24px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--juliusFont);
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--textDark);
  }

  p {
    color: var(--textDark);
    font-size: 1.5rem;
    font-family: var(--brigandaFont);
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .flou {
    position: relative;
    left: 0;
    width: 99vw;
    height: 100px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 42%,
      rgba(175, 175, 175, 1) 100%
    );
  }

  .flouDeux {
    left: 2px;
    bottom: 39px;
    z-index: 0;
    position: relative;
    width: 99vw;
    height: 150px;
    background: rgb(159, 159, 159);
    background: linear-gradient(
      180deg,
      rgba(159, 159, 159, 1) 42%,
      rgba(95, 74, 153, 1) 66%
    );
  }

  #divImgDeco {
    /* bottom: 26px; */
    top: 2px;
    position: relative;
    bottom: 20px;
    width: 99vw;
    height: 99vh;
  }
  .deco {
    height: 100%;
    width: 100%;
  }
  #download {
    top: 0;
    z-index: 1;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    width: 400px;
    height: 100px;
    background-color: #bebfbf;
    position: absolute;
    top: 2050px;
    left: -500px;
    transition: left 1.5s ease;
  }
}

.article {
  margin: 30px 10px 20px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px;
  height: auto;
  border: 2px solid rgb(26, 169, 88);
  color: greenyellow;
  background: linear-gradient(145deg, #5a5656, #0d150d);
  border-radius: 2%;
  box-shadow: inset 2.91px 2.91px 15px green, inset -9.91px -9.91px 4px #6e6e6e;
}
.article h1 {
  font-family: var(--juliusFont);
  font-size: 3rem;
  margin: 20px 0 40px 0;
}
.article h2 {
  .article
  p {
    margin: 5px 0 10px 0;
  /* color: rgb(26, 169, 88) !important; */
};
  color: #3ccc3c;
  margin: 20px 0 10px 0;
}

.article h3 {
  text-decoration: underline;
}
.article ul {
  margin-bottom: 20px 0 20px 0;
  list-style: none;

}
.article li {
  line-height: 1.6;
  letter-spacing: 2px;
  padding: 5px;
  font-size: larger;
}

.article p:first-of-type {
  color: lightgreen !important;
  font-size: 1.2rem;
}
.article p {
  margin: 5px 0 10px 0;
  /* color: rgb(26, 169, 88) !important ; */
}

.tuto {
  margin: 20px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px;
  height: auto;
  border: 2px solid rgb(169, 152, 26);
}

.tuto h1 {
  font-family: var(--juliusFont);
  font-size: 2.6rem;
  margin: 20px 0 40px 0;
  color: rgb(175, 47, 255);
}
.tuto h2 {color:rgb(77, 236, 45)
}


.tuto h3 {
  font-size: 2.4rem;
  color: rgb(175, 47, 255);
  margin: 0 0 40px 0;
}

.tuto p {
  margin: 5px 0 10px 0;
  color: rgb(26, 169, 88) !important ;
}

.comparaison {
  margin: 20px 10px 10px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px;
  height: auto;
  border: 2px solid rgb(26, 100, 169);
  color: rgb(47, 120, 255);
}


/* Style pour la fenêtre modale */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 9999; /* Z-index élevé pour s'assurer qu'il est au-dessus de tout le reste */
}

/* Style pour le contenu de la fenêtre modale */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style pour le bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

*{/* outline: 2px solid red; */}
